@use '../../scss/mixins';
@use '../../scss/vars';
@use '../../scss/reset';

body {
    background-color: vars.$bg-color;
    color: vars.$first-color;
    padding: 0px 80px;
    .button {
      @include mixins.Inter(16px, 700, 19px);
      padding: 16px 48px;
    }
  }