@mixin Inter($fs, $fw, $lh) {
    font-family: "Inter", sans-serif;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}
@mixin Sen($fs, $fw, $lh) {
    font-family: "Sen", sans-serif;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}
@mixin Flex($fd, $jc, $ai, $gp) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
}